* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu {
    margin: 50px;
}

.menu ul {
    list-style: none;
    border: 2px solid black;
    width: 200px;
}

.menu ul li {
    height: 40px;
    cursor: pointer;
}

.menu ul li a {
    display: block;
    padding-top: 10px;
    padding-left: 20px;
    height: 100%;
    width: 100%;
    color: rgb(27, 12, 13);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu ul li a:hover {
    background-color: black;
    color: rgb(239, 221, 255);
}

.menu ul li a:hover::before {
    content: '>';
    margin: 5px;
}